body {
  font-family: serif;
  line-height: 1.33;
  margin: 0 auto;
  max-width: 650px;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
}

a {
  color: unset;
}

footer {
  text-align: right;
}
